
    <p>
     University of New Orleans - ACM Chapter
The purpose of the ACM is to engage students in an extracurricular environment where they will further develop their abilities in the field of computer science. Being a member of the Association of Computing Machinery takes knowledge learned in the regular curriculum and applies it to real world scenarios. The experiences in the Association of Computing Machinery will prepare students with the versatility and expertise necessary to be successful in life after college.
</p><p>
The UNO ACM chapter in particular encourages students to unite and participate in extra-curricular activities which will advance them in computer technology. The chapter organizes and invites members and other interested parties to activities such as social events, programming competitions, speakers from industry, and volunteer opportunities.
    </p>
    <p>Want more info, or want to join? contact <%=Person.find_by_role(Person::SECRETARY).email%></p>
